.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
   
  width: 100%;
  height: 100%;
  

}

.title {
  text-align: center;
}
.drum-machine {
  background-color:coral;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}
.drum-pad {
  background-color: rgba(0, 255, 255, 0.932);
  border-radius: 8px; 
}
.drumpads {
  margin: auto;
  background-color:coral
}
.audioId {
  text-align: center;
}
body {
  background-color: antiquewhite;
}